@font-face {
    font-family: 'Roboto-Bold';
    src: url('~/assets/fonts/roboto.bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('~/assets/fonts/roboto.medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('~/assets/fonts/roboto.regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('~/assets/fonts/roboto.light.ttf') format('truetype');
}
