@import "variables";
html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: "Roboto-Regular";
}

li{
  list-style-type: none;
}