
/*Defaults*/
$white: #fff;
$black: #000;
$border: #efefef;

/*font declarations*/
$ro-regular: 'Roboto-Regular';
$ro-medium: 'Roboto-Medium';
$ro-bold: 'Roboto-Bold';
$ro-light: 'Roboto-Light';

/*Text*/
$lt-grey: #4e545c;
$lt-grey2: #9c9e9b;
$lt-grey3: #4e5e5e;
$lt-grey4: #9ca3a3;
$lt-grey5: #f6f4f4;
$lt-grey6: #eae8e8;
$lt-grey7: #4a4a4a;
$black2 : #001919;
$black3: #202020;
$text-orange: #ff7a49;
$blue: #5e6595;
$blue2: #44496b;

/*color declarations*/
$opprtunity-background: rgba(246, 244, 244, 0.4);
$donate-background: rgba(246, 244, 244, 0.8);
$contact-border: rgba(234, 232, 232, 0.74);
$footer-shadow: rgba(0, 25, 25, 0.15)
