<div class="details">
    <div>
        <app-lists [headers]="info" [inline]="true" [type]="'info'"></app-lists>
    </div>
    <div>
        <div>
            <div>
                <app-lists [headers]="details" [type]="'details'"></app-lists>
            </div>
            <div>
                <app-lists [headers]="perks" [type]="'perks'" [perks]="true"></app-lists>
            </div>
            <div>
                <app-lists [headers]="questions" [type]="'questions'"></app-lists>
            </div>
        </div>
        <div>
            <app-lists [headers]="contacts" [type]="'contacts'"></app-lists>
            <label>You will be contribute to these Sustainability and Development goals
                <span><img src="../../../assets/images/group-6.png"></span>
            </label>
            <app-lists [headers]="goals" [type]="'goals'" [inline]="true"></app-lists>
        </div>
    </div>
</div>