@import "../../../assets/scss/variables";

.details {
  > div {
    &:nth-child(1){
      padding: 30px 100px;
      border-top: solid 1px $lt-grey6;
      border-bottom: solid 1px $lt-grey6;
    }
    &:nth-child(2) {
      padding: 50px 100px 50px 100px;
      > div {
        display: inline-block;
        &:first-child {
          width: 70%;
          div{
              &:nth-child(2){
                  margin: 50px 0 0;
              }
          }
        }
        &:nth-child(2) {
          float: right;
          width: 25%;
          label{
            display: inline-block;
            font-family: $ro-medium;
            font-size: 14px;
            font-weight: 500;
            color: $lt-grey3;
            margin-bottom: 8px;
            img{
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
