<header>
    <nav>
        <div>
            <div class="nav-left">
                <ul>
                    <li *ngFor="let nav of navigationsLeft">
                        <label [ngStyle]="nav.labelStyle">{{nav.label}}</label>
                    </li>
                </ul>
            </div>
            <div class="add">
                <div>
                    <img src="../../../assets/images/add-1.png" class="img">
                </div>
            </div>
            <div class="nav-right">
                <ul>
                    <li *ngFor="let nav of navigationsRight" [ngStyle]="nav.listStyle">
                        <div *ngIf="nav.img">
                            <div *ngIf="!nav.user">
                                <img src="../../../assets/images/{{nav.imgSrc}}.png" class="img">
                            </div>
                            <div *ngIf="nav.user">
                                <img src="../../../assets/images/{{nav.imgSrc}}.png" class="img">
                                <img src="../../../assets/images/down.png" class="user">
                            </div>
                        </div>
                        <div *ngIf="!nav.img">
                            <label>{{nav.label}}</label>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>