@import "../../../assets/scss/variables";

header {
  border-bottom: solid 1px $border;
  overflow: hidden;
  li {
    display: inline-block;
    label{
      font-family: $ro-medium;
      font-size: 14px;
      font-weight: 500;
      color: $lt-grey7;
    }
    .icon{
      
    }
  }
  label{
    vertical-align: middle;
  }
  .nav-left {
    li {
      height: 34px;
      padding: 20px 25px;  
    }
    float: left;
  }
  .add{
    float: right;
    padding: 23px;
    background: $blue2;
  }
  .nav-right {
    li {
      &:first-child {
        height: 34px;
        position: relative;
        top: -14px;
      }
      padding: 10px 15px 0px 0px;
      margin: 10px 10px 0 0;
    }
    .img {
      width: 30px;
      height: 30px;
    }
    .user {
      position: relative;
      top: -15px;
      left: 5px;
    }
    float: right;
  }
}
