@import "../../../assets/scss/variables";

.col-3 {
  li {
    display: inline-block;
    width: calc(100% / 3);
    > div {
      > div {
        &:first-child {
          height: 50px;
          padding: 25px 0 15px 10px;
          label {
            font-family: $ro-regular;
            font-size: 20px;
            color: $black2;
          }
        }
        &:nth-child(2) {
          padding-left: 10px;
          label {
            display: block;
            font-family: $ro-medium;
            font-size: 14px;
            color: $lt-grey3;
            margin-bottom: 10px;
            &:nth-child(3) {
              display: inline-block;
              color: $text-orange;
            }
            &:nth-child(4) {
              margin-left: 25px;
              display: inline-block;
            }
          }
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.col-2 {
  li {
    display: inline-block;
    width: 50%;
    height: 315px;
    &:nth-child(2) {
      background-color: $donate-background;
      float: right;
    }
    .text-only {
      padding: 40px 40px;
      > div {
        &:first-child {
          margin-bottom: 25px;
          label {
            font-family: $ro-medium;
            font-size: 28px;
            font-weight: 500;
            line-height: 1.18;
            color: $black2;
          }
        }
        &:nth-child(2) {
          margin-bottom: 20px;
        }
        label {
          font-family: $ro-regular;
          font-size: 14px;
          color: $lt-grey3;
        }
        p {
          font-family: $ro-regular;
          font-size: 14px;
          line-height: 1.29;
          color: $lt-grey3;
        }
        span {
          font-family: $ro-medium;
          font-size: 20px;
          font-weight: 500;
          color: $lt-grey3;
          margin-right: 10px;
        }
        &:nth-child(3) {
          margin-bottom: 25px;
          div {
            display: inline-block;
            width: 50%;
          }
        }
      }
    }
  }
}

.col-2-venue {
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 25, 25, 0.15);
  background: $white;
  > div {
    display: inline-block;
    height: 300px;
    li {
      text-align: left;
      padding: 30px 0 0 50px;
      &:first-child {
        padding-top: 50px;
      }
      &:last-child {
        padding-bottom: 50px;
      }
      label {
        font-family: $ro-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: $black3;
      }
      p {
        font-family: $ro-regular;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        color: $black2;
        margin-top: 5px;
      }
    }
    &:first-child {
      width: 40%;
      float: left;
    }
    &:nth-child(2) {
      padding: 25px;
      width: calc(60% - 50px);
    }
  }
}

.participants {
  li {
    display: inline-block;
    margin: 15px 15px 0 15px;
    width: calc((100% / 3) - 30px);
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 25, 25, 0.15);
    background-color: $white;
    height: 90px;
    > div {
      div {
        display: inline-block;
        &:first-child {
          float: left;
          width: 15%;
          padding: 15px;
        }
        &:nth-child(2) {
          float: left;
          width: 75%;
          padding-top: 15px;
          label {
            text-align: left;
            display: block;
            &:first-child {
              font-family: $ro-medium;
              font-size: 14px;
              font-weight: 500;
              color: $black2;
            }
            &:nth-child(2) {
              font-family: $ro-regular;
              font-size: 14px;
              color: $lt-grey4;
            }
            &:nth-child(3) {
              font-family: $ro-regular;
              font-size: 14px;
              color: $lt-grey;
            }
          }
        }
      }
    }
  }
}

.events {
  background: $white;
  > div {
    display: inline-block;
    &:first-child {
      float: left;
      width: 20%;
      li {
        padding: 20px;
        border-top: 1px solid $donate-background;
        border-left: 1px solid $donate-background;
        border-bottom: 1px solid $donate-background;
        > div {
          div {
            display: inline-block;
            &:first-child {
              padding: 10px;
              width: calc(25% - 20px);
            }
            &:nth-child(2) {
              padding: 10px;
              vertical-align: top;
              width: calc(75% - 20px);
              label {
                font-family: $ro-medium;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    &:nth-child(2) {
      border-left: 1px solid $donate-background;
      padding-top: 35px;
      width: calc(80% - 1px);
      .timeline {
        position: relative;
        padding: 0 50px;
        > div {
          display: inline-block;
          &:first-child {
            float: left;
            width: calc(30% - 50px);
          }
          &:nth-child(2) {
            width: calc(70% - 50px);
          }
        }
      }
      .timeline::after {
        content: "";
        position: absolute;
        width: 3px;
        background-color: $lt-grey6;
        top: 30px;
        bottom: 80px;
        left: 28%;
        margin-left: -15px;
      }
      .container {
        position: relative;
      }
      .container::before {
        content: "";
        position: absolute;
        left: -8px;
        width: 10px;
        height: 10px;
        background-color: $blue;
        top: 3px;
        border-radius: 100%;
        z-index: 2;
      }
      .container::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: -15px;
        background-color: $lt-grey6;
        top: -4px;
        border-radius: 50%;
        z-index: 1;
      }
      .content {
        margin: 30px;
        position: relative;
        border-radius: 6px;
        height: 100px;
      }
      .left{
        label{
          font-family: $ro-regular;
          font-size: 14px;
          color: $black2;
        }
      }
      .right {
        font-family: $ro-regular;
        label {
          font-size: 14px;
          color: $lt-grey4;
        }
        h2 {
          font-size: 18px;
          color: $black2;
        }
        p {
          margin: 10px 0;
          font-size: 14px;
          color: $black2;
        }
      }
    }
  }
  .active {
    label {
      color: $blue !important;
    }
  }
  .not-active {
    label {
      color: $lt-grey4 !important;
    }
  }
}

.mainsection {
  padding: 0 100px;
  li {
    display: inline-block;
    height: 435px;
    &:nth-child(even) {
      background: $donate-background;
      width: 30%;
    }
    &:nth-child(odd) {
      float: left;
      width: 70%;
    }
    .carousel{
      width: 770px;
    }
    .not-carousel {
      padding: 20px;
      > div {
        &:nth-child(1) {
          div {
            &:first-child {
              > label {
                &:first-child {
                  display: block;
                  font-family: $ro-regular;
                  font-size: 27px;
                  line-height: 1.19;
                  letter-spacing: -0.7px;
                  color: $black2;
                }
                &:nth-child(2) {
                  display: inline-block;
                  font-size: 16px;
                  color: $black2;
                  margin: 10px 0 20px;
                  span{
                    img{
                      margin-left: 5px;
                    }
                  }
                }
              }
              div {
                label {
                  display: block;
                  font-family: $ro-regular;
                  font-size: 15px;
                  color: $black2;
                  margin-bottom: 10px;
                  &:nth-child(3){
                    display: inline-block;
                  }
                  &:nth-child(4) {
                    display: inline-block;
                    font-family: $ro-medium;
                    font-size: 15px;
                    color: $blue;
                    text-decoration: underline;
                    margin-left: 18px;
                  }
                }
                span {
                  margin-right: 10px;
                  img {
                    width: 14px;
                    height: 14px;
                  }
                }
              }
            }
            &:nth-child(2) {
              margin-top: 100px;
              text-align: center;
              label {
                font-family: $ro-regular;
                font-size: 14px;
                color: $black2;
              }
            }
          }
        }
      }
    }
  }
}
