<div *ngIf="(type === 'opportunities')" class="col-3">
    <ul>
        <li *ngFor="let head of headers">
            <div>
                <img *ngIf="head.showImage" src="../../../assets/images/{{head.imgScr}}.png">
            </div>
            <div>
                <div>
                    <label>{{head.label}}</label>
                </div>
                <div>
                    <label><span><img
                                src="../../../assets/images/gi-db-icons-location-copy.png"></span>{{head.place}}</label>
                    <label><span><img
                                src="../../../assets/images/gi-db-icons-event-copy-3.png"></span>{{head.date}}</label>
                    <label><span><img src="../../../assets/images/add-user.png"></span>{{head.peopleCount}} of 100 slots
                        left</label>
                    <label>(Register before {{head.expiryDate}})</label>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="(type === 'donate')" class="col-2">
    <ul>
        <li *ngFor="let head of headers">
            <div *ngIf="head.imageOnly">
                <img src="../../../assets/images/{{head.imgScr}}.png">
            </div>
            <div *ngIf="head.textOnly" class="text-only">
                <div>
                    <label>{{head.label}}</label>
                </div>
                <div>
                    <p>{{head.para}}</p>
                </div>
                <div>
                    <div>
                        <label><span>{{head.pledgeAmount}}</span>Pledged so far</label>
                    </div>
                    <div>
                        <label><span>{{head.supporters}}</span>Supporters</label>
                    </div>
                </div>
                <div>
                    <app-button [width]="'150px'" [text]="'Donate Now'" [height]="'40px'" [color]="'#fff'"
                        [borderRadius]="'4px'" [padding]="'10px'" [background]="'#ff7a49'" [fontSize]="'16px'">
                    </app-button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="(type === 'venue')" class="col-2-venue">
    <div>
        <ul>
            <li *ngFor="let head of headers">
                <label>{{head.label}}</label>
                <p>{{head.value}}</p>
            </li>
        </ul>
    </div>
    <div>
        <app-map></app-map>
    </div>
</div>
<div *ngIf="(type === 'participants')" class="participants">
    <ul>
        <li *ngFor="let head of headers">
            <div>
                <div>
                    <img src="../../../assets/images/{{head.imgScr}}.png">
                </div>
                <div>
                    <label>{{head.name}}</label>
                    <label>{{head.designation}}</label>
                    <label>{{head.place}}</label>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="(type === 'events')" class="events">
    <div>
        <ul>
            <li *ngFor="let head of headers" [ngClass]="{'active': head.active, 'not-active': !head.active}">
                <div>
                    <div>
                        <img src="../../../assets/images/{{head.imgSrc}}.png">
                    </div>
                    <div>
                        <label>{{head.label}}</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <div class="timeline">
            <div>
                <div *ngFor="let leftItems of left" class="left">
                    <div class="content">
                        <label>{{leftItems.value}}</label>
                    </div>
                </div>
            </div>
            <div>
                <div *ngFor="let rightItems of right" class="container right">
                    <div class="content">
                        <label>{{rightItems.time}}</label>
                        <h2>{{rightItems.event}}</h2>
                        <p>{{rightItems.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(type === 'mainsection')" class="mainsection">
    <div>
        <ul>
            <li *ngFor="let head of headers">
                <div *ngIf="head.carousel" class="carousel">
                    <app-carousel [images]="head.imgSrc"></app-carousel>
                </div>
                <div *ngIf="!head.carousel" class="not-carousel">
                    <div>
                        <div>
                            <label>{{head.title}}</label>
                            <label>{{head.foundation}}<span><img
                                        src="../../../assets/images/shape_4.png"></span></label>
                            <div>
                                <label><span><img
                                            src="../../../assets/images/gi-db-icons-event-copy-3.png"></span>{{head.date}}</label>
                                <label><span><img src="../../../assets/images/clock.png"></span>{{head.time}}
                                </label>
                                <label><span><img
                                            src="../../../assets/images/gi-db-icons-location-copy.png"></span>{{head.venue}}</label>
                                <label>Show on map</label>
                            </div>
                        </div>
                        <div>
                            <label>Average commitment required {{head.commitment}}</label>
                            <app-button [width]="'100%'" [text]="head.buttonText" [height]="'50px'" [color]="'#fff'"
                                [borderRadius]="'2px'" [padding]="'10px'" [margin]="'8px 0'" [background]="'#ff7a49'"
                                [fontSize]="'18px'">
                            </app-button>
                            <label>Register before {{head.lastdate}}</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>