@import "../assets/scss/variables";

.main-section {
  > div {
    &:first-child {
      label {
        display: inline-block;
        margin: 25px 0 0 100px;
        font-family: $ro-light;
        font-size: 12px;
        font-weight: 300;
        color: $lt-grey;
        span {
          margin-right: 10px;
          img {
            height: 18px;
            width: 18px;
            position: relative;
            top: 5px;
            transform: rotate(90deg);
          }
        }
      }
    }
    &:last-child{
      background: $white;
      height: 250px;
      position: relative;
    }
  }
  .sections {
    padding: 0 100px 0 100px;
    background: $opprtunity-background;
    div {
      //text-align: center;
      &:first-child {
        padding: 25px 0 25px 0;
      }
      &:nth-child(2) {
        padding-bottom: 50px;
      }
      label {
        height: 92px;
        font-family: $ro-regular;
        font-size: 28px;
        line-height: 1.64;
        color: $black2;
      }
    }
    &.no-background {
      background: none;
    }
    .center-text {
      text-align: center;
    }
  }
  .main-details {
    padding: 25px 0;
  }
}
