<app-header></app-header>
<div class="main-section">
    <div>
        <label><span><img src="../assets/images/arrow-down.png"></span>Back to explore event</label>
        <div class="main-details">
            <div>
                <app-view-details [headers]="mainSection" [type]="'mainsection'"></app-view-details>
            </div>
        </div>
    </div>
    <div>
        <app-details></app-details>
    </div>
    <div *ngFor="let section of sections" class="sections" [ngClass]="{'no-background': section.noBackground}">
        <div class="center-text">
            <label>{{section.title}}</label>
        </div>
        <div>
            <app-events *ngIf="section.type === 'events'" [content]="section.content"></app-events>
            <app-participants *ngIf="section.type === 'participants'"></app-participants>
            <app-venue *ngIf="section.type === 'venue'"></app-venue>
            <app-donate *ngIf="section.type === 'donate'"></app-donate>
            <app-opportunites *ngIf="section.type === 'opportunities'"></app-opportunites>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>
<router-outlet></router-outlet>