<div>
    <div class="para">
        <p>{{content}}</p>
    </div>
    <div>
        <app-view-details [headers]="events" [type]="'events'" [left]="leftTimeline" [right]="rightTimeline"></app-view-details>
    </div>
</div>