@import "../../../assets/scss/variables";

.para{
    text-align: center;
    padding: 0 80px 25px 80px;
    p{
        font-family: $ro-regular;
        font-size: 16px;
        color: $black2;
    }
}