.carousle {
  position: relative;
  .navigation {
    width: auto;
    padding: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.next {
      right: 0;
    }
  }
  .actions {
    width: auto;
    display: inline-block;
    position: absolute;
    top: 84%;
    transform: translateY(-50%);
    &.play {
      right: 30px;
    }
    &.mute {
      right: 72px;
    }
  }
  .indicator {
    position: relative;
    top: -40px;
  }
}
