<div class="carousle">
    <div>
        <img src="../../../assets/images/{{images}}.png">
    </div>
    <div class="navigation">
        <img src="../../../assets/images/shape_2.png">
    </div>
    <div class="navigation next">
        <img src="../../../assets/images/shape.png">
    </div>
    <div class="actions mute">
        <img src="../../../assets/images/group-45.png">
    </div>
    <div class="actions play">
        <img src="../../../assets/images/group-48.png">
    </div>
    <div class="indicator">
        <app-lists [headers]="progress" [type]="'progress'" [inline]="true"></app-lists>
    </div>
</div>