@import "../../../../assets/scss/variables";

.inline {
  display: inline-block;
  &.col-3 {
    width: calc(100% / 3);
  }
  &.col-4 {
    width: calc(100% / 4);
  }
}

.perks {
  display: inline-block;
  width: calc(100% / 4);
  img {
    float: left;
  }
  label {
    float: left;
    font-family: $ro-regular;
    font-size: 14px;
    color: $black2;
  }
}

.questions {
  label {
    display: block;
    &:first-child {
      font-family: $ro-medium;
      font-size: 18px;
      font-weight: 500;
      color: $black3;
      span {
        img {
          float: right;
          padding: 10px;
        }
      }
    }
    &:nt-child(2) {
      font-family: $ro-regular;
      font-size: 16px;
      color: $black2;
    }
  }
}

.contacts {
  .spoc {
    position: relative;
    top: -25px;
    left: -14px;
  }
  margin-bottom: 40px;
  > div {
    &:nth-child(1) {
      font-family: $ro-medium;
      font-size: 18px;
      font-weight: 500;
      color: $black3;
    }
    div {
      label {
        left: 10px;
        top: -20px;
        position: relative;
        font-family: $ro-regular;
        font-size: 16px;
        color: $black2;
      }
      &:nth-child(2) {
        padding: 20px 0;
        border-bottom: solid 1px $contact-border;
        div {
          float: right;
          img {
            margin: 2px;
            padding: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $lt-grey5;
          }
        }
      }
    }
  }
}

.goals {
  margin: 0 8px;
}

.progress {
  > div {
    border-radius: 5px;
    width: 95%;
    height: 2px;
    background: #9ca3a3;
    div {
      width: 1%;
      height: 2px;
      background: $white;
    }
  }
}

.people {
  img {
    &:not(:first-child) {
      margin-left: -5px;
    }
  }
  .grey-text {
    position: relative;
    top: -15px;
    margin-left: 10px;
    font-family: $ro-bold;
    font-size: 16px;
    font-weight: bold;
    color: $lt-grey3;
  }
  .orange-text {
    position: relative;
    top: -15px;
    margin-left: 5px;
    font-family: $ro-medium;
    font-size: 14px;
    font-weight: 500;
    color: $text-orange;
  }
}

.footer {
  vertical-align: middle;
  text-align: center;
  img {
    width: 28px;
    height: 28px;
    margin-right: 15px;
  }
  label {
    font-family: $ro-medium;
    font-size: 22px;
    font-weight: 500;
    color: $black3;
    margin-right: 5px;
  }
  .count {
    width: 20px;
    height: 20px;
    background: #3cc19f;
    border-radius: 50%;
    margin-right: 45px;
    span {
      color: $white;
    }
  }
}

.details{
  span {
    margin-left: 10px;
  }
}
