<div>
    <ul>
        <li *ngFor="let listItem of headers" [ngStyle]="listItem.listStyle"
            [ngClass]="{'inline': inline, 'col-3': col3, 'col-4': col4, 'perks': perks, 'footer': footer}">
            <div *ngIf="type === 'info'" class="info">
                <label [ngStyle]="listItem.labelStyle">{{listItem.label}}</label>
                <label [ngStyle]="listItem.valueStyle">{{listItem.value}}</label>
                <span *ngIf="listItem.imageList" [ngClass]="{'people': listItem.peopleLists}">
                    <img *ngFor="let img of listItem.imgSrc" [ngStyle]="listItem.imgStyle"
                        src="../../../../assets/images/{{img}}.png">
                    <label class="grey-text" *ngIf="listItem.peopleLists">+{{listItem.peopleCount}} are going</label>
                    <label class="orange-text" *ngIf="listItem.peopleLists">({{listItem.slotsLeft}} slots left)</label>
                </span>
            </div>
            <div *ngIf="type === 'details'" class="details">
                <p [ngStyle]="listItem.paraStyle">{{listItem.content}}</p>
                <label [ngStyle]="listItem.labelStyle">Continue Reading<span><img
                            src="../../../../assets/images/down.png"></span></label>
            </div>
            <div *ngIf="type === 'perks'" class="perks-section">
                <img src="../../../../assets/images/{{listItem.imgSrc}}.png">
                <label [ngStyle]="listItem.labelStyle">{{listItem.label}}</label>
            </div>
            <div *ngIf="type === 'questions'" class="questions">
                <div *ngIf="listItem.expand">
                    <label>{{listItem.label}}</label>
                    <label>{{listItem.value}}</label>
                </div>
                <div *ngIf="!listItem.expand">
                    <label>{{listItem.label}}<span><img src="../../../../assets/images/down.png"></span></label>
                </div>
            </div>
            <div *ngIf="type === 'contacts'" class="contacts">
                <div>
                    <label>{{listItem.label}}</label>
                    <div>
                        <img src="../../../../assets/images/{{listItem.userImg}}.png">
                        <img class="spoc" *ngIf="listItem.captain"
                            src="../../../../assets/images/{{listItem.spocImg}}.png">
                        <label>{{listItem.name}}</label>
                        <div>
                            <img src="../../../../assets/images/{{listItem.mailImg}}.png">
                            <img src="../../../../assets/images/{{listItem.phoneImg}}.png">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="type === 'goals'" class="goals">
                <img src="../../../../assets/images/{{listItem.imgSrc}}.png">
            </div>
            <div *ngIf="type === 'progress'" class="progress">
                <div>
                    <div [ngStyle]="listItem.progressValue">

                    </div>
                </div>
            </div>
            <div *ngIf="type === 'footer'" class="footer">
                <div *ngIf="listItem.image">
                    <img src="../../../../assets/images/{{listItem.imgSrc}}.png">
                </div>
                <div *ngIf="!listItem.image && !listItem.count">
                    <label>{{listItem.label}}</label>
                </div>
                <div *ngIf="listItem.count" class="count">
                    <span>{{listItem.number}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>