@import "../../../assets/scss/variables";

.footer {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 350px;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 2px 79px 0 $footer-shadow;
  background-color: $white;
  div{
      padding: 15px;
  }
}
