<app-view-details [headers]="participants" [type]="'participants'"></app-view-details>
<div class="center">
    <app-button [width]="'150px'" [text]="'View All'" [height]="'40px'" [color]="'#44496b'" [borderRadius]="'3px'"
        [padding]="'10px'" [background]="'#fff'" [fontSize]="'16px'" [border]="'solid 2px #5e6595'">
    </app-button>
</div>